<html lang="en">
<head>
    <%- include("./partials/head.ejs"); %>
</head>
<body>
    <table style="width: 100%;">
        <tr>
            <a href="/create" class="btn btn-primary">Create</a>
        </tr>
        <tr style="font-weight: bold;">
            <th>id</th>
            <th>Username</th>
            <th>Role</th>
            <th>Action</th>
        </tr>
    


        <% users.forEach(i => { %>
            <tr style="font-weight: bold; color: black;">
                <td><%= i.id %></td>
                <td><%= i.username %></td>
                <td><%= i.role %></td>
                
            <td>
                <a href="/edit/<%= i.id %>" class="btn btn-primary">Edit</a>
                <a href="/delete/<%= i.id %>" class="btn btn-warning">Delete</a>
            </td>
            </tr>
            <% }) %>
            <tr>
                <a href="/logout" class="btn btn-primary">Logout</a>
            </tr>
    </table>

</body>
</html>